body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#header {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  align-items: baseline;
}

#footer {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  align-items: baseline;
}

.cartProduct {
  display: flex;
}

button {
  padding: 1em;
  border: none;
  font-size: 1em;
  border-radius: 10px 10px 10px 10px;
  outline: none;
  letter-spacing: 0.1em;
  color: white;
  background-color: #053c5e;
  width: 125px;
  height: 50px;
  justify-content: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  align-content: center;
}

form button {
  color: white;
  background-color: #053c5e;
}
form button:disabled {
  background-color: #ccc;
}

form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 0.5em;
}
